{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Amuthunavu is a online website that cooks food in the cleanful and carefull environment by a skillfull chef</p>
            <p>It is fully equipped centralised kitchens, not including any front of house operations. Its main objective is to prepare food for multiple brands and deliver it directly to the consumer</p>
            <p>We also serve food for minimum 10 to maximum 50 people for catering servises for pre booked customers</p>
        </div>
    </div>
</div>
{% endblock content %}
